
# Configuración de la base de datos (SQLite por defecto)
# Para usar PostgreSQL, descomenta y configura:
# DATABASE_URL=postgresql://usuario:contraseña@host:puerto/basededatos

# Modo de depuración (True o False)
DEBUG=False

# API key de ipinfo.io (opcional)
IPINFO_API_KEY=

# En proyectos futuros, aquí puedes colocar otras claves.
